@font-face {
    font-family: "Clear Sans";
    src: url("../css/ClearSans-Bold-webfont.eot");
    font-weight: normal;
    font-style: normal;
}


#name-2048 {
	display: inline-block;
	text-align: center;
	font-family: Tahoma;
	width: 150px;
	margin-left: 10px;
	font-size: 60px;
	margin-top: -30px;
	color: #776e65;
	font-weight: bold;
}

#crisis {
	display: inline-block;
	width: 300px;
	margin: 20px 0 0 50px;
	border-radius: 10px;
}

#full-title {
	max-width: 550px;
	margin: 0 auto;
	height: 120px;
}

#instructions {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	font-family: arial;
	font-size: 16px;
	color: #776e65;
}

.box {
	display: inline-block;
	width: 90px;
	height: 90px;
	background-color: rgba(150,150,150,.4);
	margin: 3px;
}



#board {
	max-width: 400px;
	margin-top: 20px;
	float: left;
	margin-left: 70px;
	display: inline-block;
	border-radius: 3px;
	padding: 8px 6px 6px 8px;
	background-color: #776e65;
	border-radius: 6px;
}

.members{
	margin: 1px 3px 1px 3px;
	max-width: 50px;
}

body {
	background-color: rgba(40,40,40,1);
	color: grey;

}

#main-board{
	margin: 0 auto;
	max-width: 1000px;
	height: 425px;
}

#display-moves {
	margin-bottom: 6px;
		color: #776e65;

}

#hero-level {
	margin-bottom: -10px;
		color: #776e65;

}

#scoreboard {
	margin-left: 70px;
	margin-top: 30px;
	display: inline-block;
	font-family: arial;
	font-size: 20px;
	width: 370px;
	height: 390px;
}
