@font-face {
    font-family: "Clear Sans";
    src: url("ClearSans-Regular-webfont.eot");
    src: url("ClearSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("ClearSans-Regular-webfont.svg#clear_sansregular") format("svg"),
         url("ClearSans-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

#title {
	text-align: center;
	font-family: "Clear Sans";
	margin: auto 0;
	line-height: 100px;
}

#full-title {
	max-width: 350px;
	margin: 0 auto;
}

#instructions {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	font-family: arial;
	margin-top: 20px;
}

.box {
	display: inline-block;
	width: 90px;
	height: 90px;
	box-shadow: 3px 3px 3px grey;
	background-color: rgba(150,150,150,.4);
	border-radius: 2px;


}

#board {
	max-width: 390px;
	margin: 0 auto;
	margin-top: 30px;

}

img {
	width: 90px;
	height: 90px;
}

body {
	background-color: rgba(40,40,40,1);
	color: grey;

}

#crisis {
	position: inline-block;
	width: 280px;
	margin: 0 auto;

}