@font-face {
    font-family: "Clear Sans";
    src: url("ClearSans-Bold-webfont.eot");
    font-weight: normal;
    font-style: normal;
}


#name-2048 {
	display: inline-block;
	text-align: center;
	font-family: arial;
	border: 2px solid green;
	width: 150px;
	line-height: 50px;
	margin-top: -100px;
}

#full-title {
	max-width: 500px;
	margin: 0 auto;
	border: 2px solid blue;
	height: 150px;
}

#instructions {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	font-family: arial;
	margin-top: 20px;
	margin-bottom: 20px;
}

.box {
	display: inline-block;
	width: 90px;
	height: 90px;
	box-shadow: 3px 3px 3px grey;
	background-color: rgba(150,150,150,.4);
	border-radius: 2px;
}

#board {
	max-width: 390px;
	margin-top: 30px;
	float: left;
	display: inline-block;
}

img {
	width: 90px;
	height: 90px;

}

.members{
	margin: 3px 3px 3px 3px;
}

body {
	background-color: rgba(40,40,40,1);
	color: grey;

}

#main-board{
	margin: 0 auto;
	max-width: 1000px;
	border: 2px solid green;
	height: 450px;
}

#scoreboard {
	border: 2px solid red;
	margin-left: 100px;
	margin-top: 50px;
	display: inline-block;
	font-family: arial;
	font-size: 20px;
	width: 450px;
	height: 390px;
}

#crisis {
	display: inline-block;
	width: 250px;
	margin: 50px 0 0 50px;
	border-radius: 6px;
	border: 2px solid red;
}