@font-face {
    font-family: "Clear Sans";
    src: url("/css/ClearSans-Bold-webfont.eot");
    font-weight: normal;
    font-style: normal;
}


#name-2048 {
	display: inline-block;
	text-align: center;
	font-family: arial;
	width: 150px;
	margin-left: 10px;
	font-size: 64px;
	margin-top: -20px;
	color: DodgerBlue;
	font-weight: bold;
}

#crisis {
	display: inline-block;
	width: 250px;
	margin: 20px 0 0 50px;
	border-radius: 10px;
}

#full-title {
	max-width: 500px;
	margin: 0 auto;
	height: 150px;
}

#instructions {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	font-family: arial;
	font-size: 16px;
}

.box {
	display: inline-block;
	width: 90px;
	height: 90px;
	background-color: rgba(150,150,150,.4);

}

.box img {
}

#board {
	max-width: 390px;
	margin-top: 30px;
	float: left;
	margin-left: 70px;
	display: inline-block;
	border-radius: 3px;
	padding-left: 4px;
	padding-top: 4px;
	border: 6px solid DodgerBlue;
}

.members{
	margin: 1px 3px 1px 3px;
}

body {
	background-color: rgba(40,40,40,1);
	color: grey;

}

#main-board{
	margin: 0 auto;
	max-width: 1000px;
	height: 425px;
}

#display-moves {
	margin-bottom: 6px;
}

#scoreboard {
	margin-left: 100px;
	margin-top: 30px;
	display: inline-block;
	font-family: arial;
	font-size: 20px;
	width: 400px;
	height: 390px;
}
